In [47]:
#LAB02-1 홀짝 판별

num = int(input("Enter a number: "))
if num%2 == 0:
    print(f"{num} is Even number")
else:
    print(f"{num} is Odd number")

Enter a number: 14
14 is Even number

In [50]:
#LAB02-2 중간, 기말 평균 학점 프로그램

mid_score = float(input("Enter your midterm score: "))
final_score = float(input("Enter your final score: "))
average = (mid_score + final_score)/2

if average >= 90:
    print(f"Average: {average}")
    print("Grade: A")
elif average >= 80:
    print(f"Average: {average}")
    print("Grade: B")
elif average >= 70:
    print(f"Average: {average}")
    print("Grade: C")
elif average >= 60:
    print(f"Average: {average}")
    print("Grade: D")
else:
    print(f"Average: {average}")
    print("Grade: F")

Enter your midterm score: 77
Enter your final score: 56
Average: 66.5
Grade: D

In [56]:
#LAB02-3 합격 여부 출력

eng = int(input("영어 점수: "))
math = int(input("수학 점수: "))

if eng + math >= 110:
    if eng < 40:
        print("불합격: 영어 점수 부족")
    elif math < 40:
        print("불합격: 수학 점수 부족")
    else:
        print("합격")
else:
    print("불합격: 총합 점수 부족")

영어 점수: 35
수학 점수: 95
불합격: 영어 점수 부족

In [29]:
#LAB02-4 세 정수 중 가장 큰 수 출력

num_list = list(map(int, input("세 수를 입력하시오: ").split()))
max_value = 0

if num_list[0] > num_list[1]:
    if num_list[0] > num_list[2]:
        max_value = num_list[0]
    else:
        max_value = num_list[2]
else:
    if num_list[1] > num_list[2]:
        max_value = num_list[1]
    else:
        max_value = num_list[2]

print(f"가장 큰 수는 {max_value}입니다.")

세 수를 입력하시오: 30 22 50
가장 큰 수는 50입니다.

In [57]:
#LAB02-5 단어 출력

word = 'Python'
for w in word:
    print(w)

P
y
t
h
o
n

In [58]:
#LAB02-6

for i in range(10,0,-1):
    print(i, end=',')

print("Happy new year!!")

10,9,8,7,6,5,4,3,2,1,Happy new year!!

In [59]:
#LAB02-7 a부터 b까지 합

a, b = map(int, input("Enter two integers: ").split())
total = 0

for i in range(a,b+1):
    total += i

print(f"The sum from {a} to {b} is {total}")

Enter two integers: 5 10
The sum from 5 to 10 is 45

In [60]:
#LAB02-8 a 카운트

word = 'banana'
cnt = 0
for w in word:
    if w == 'a':
        cnt += 1

print(f"count A in word: {cnt}")

count A in word: 3

In [62]:
#LAB02-9 for, range

for i in range(10):
    print(i, end=' ')
print()
for i in range(0,51,5):
    print(i, end=' ')
print()
for i in range(10,0,-1):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

In [63]:
#LAB02-10 list 출력
colors = ['red','green','blue']

for c in colors:
    print(c)

red
green
blue

In [66]:
#LAB02-11 짝수 출력

a = [1,3,4,5,6,7,8,9,10,11,12,13]

for i in a:
    if i%2 == 0:
        print(i, end=' ')

4 6 8 10 12

In [71]:
#LAB02-12 구구단 출력

n = int(input("출력하고 싶은 단을 입력하세요: "))
for i in range(1,10):
    print(f"{n} * {i} = {n*i}")

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [72]:
#LAB02-13 구구단 출력

for i in range(2,10):
    print(f"== {i}단 ==")
    for j in range(1,10):
        print(f"{i} * {j} = {i*j}")

== 2단 ==
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
== 3단 ==
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
== 4단 ==
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
== 5단 ==
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
== 6단 ==
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
== 7단 ==
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
== 8단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 9단 ==
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [82]:
#LAB02-14 구구단 출력 2

for i in range(1,10):
    for j in range(2,10):
        print(f"{j}*{i}={i*j:2}", end='  ')
    print()

2*1= 2  3*1= 3  4*1= 4  5*1= 5  6*1= 6  7*1= 7  8*1= 8  9*1= 9
2*2= 4  3*2= 6  4*2= 8  5*2=10  6*2=12  7*2=14  8*2=16  9*2=18
2*3= 6  3*3= 9  4*3=12  5*3=15  6*3=18  7*3=21  8*3=24  9*3=27
2*4= 8  3*4=12  4*4=16  5*4=20  6*4=24  7*4=28  8*4=32  9*4=36
2*5=10  3*5=15  4*5=20  5*5=25  6*5=30  7*5=35  8*5=40  9*5=45
2*6=12  3*6=18  4*6=24  5*6=30  6*6=36  7*6=42  8*6=48  9*6=54
2*7=14  3*7=21  4*7=28  5*7=35  6*7=42  7*7=49  8*7=56  9*7=63
2*8=16  3*8=24  4*8=32  5*8=40  6*8=48  7*8=56  8*8=64  9*8=72
2*9=18  3*9=27  4*9=36  5*9=45  6*9=54  7*9=63  8*9=72  9*9=81

In [6]:
#LAB02-15 별표 출력

num_list = input("Input an integer: ")

for i in num_list:
    print("★"*int(i))

Input an integer: 223411
★★
★★
★★★
★★★★
★
★

In [45]:
#LAB02-16 평균, 최대, 최소 출력
L_num = []

while True:
    n = input("Enter a number: ")
    if n == 'done':
        break
    
    L_num.append(float(n))

print(f"Average: {sum(L_num)/len(L_num)}")
print(f"Maximum: {max(L_num)}")
print(f"Minimum: {min(L_num)}")

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done
Average: 5.2
Maximum: 9.0
Minimum: 2.0